body{    
    margin: auto;
}
*{
    padding: 0;
    margin: 0;    
}

/*header*/
.header {
    padding: 24px 0;
    background: #181818; 
    position: fixed; 
    z-index: 1;
    width: 100%;     
}
.header_logo {
    max-width: 1200px; 
    margin: auto; 
    display: flex; 
    justify-content: space-between; 
    padding: 0 20px 0 22px; 
    box-sizing: border-box;
    align-items: center;
}
.header_list{
    list-style: none; 
    display: flex;
    align-items: center;
}
.header_item{
    margin-left: 32px;
}
.header_link{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
.header_link_white{
    text-decoration: none;
    padding: 11px 20px; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 14px;
}

/*hero*/
.hero{
    min-height: 716px;
    background-image: url(../img/fon.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
.container{
    margin-bottom: 70px;
}
.container h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 1px;
}
.container h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 18px;
}
.container p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
}
.hero ul{
    display: flex;
    list-style: none;
    position: absolute;
    right: 40px;
    bottom: 40px;
}
.hero ul li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    list-style: none;  
    padding-left: 16px;  
}

.hero ul li:nth-child(1):before{
    content: url("../img/12000.svg");
    display: inline-block;
    padding-right: 6px;
    position: relative;
    top: 5px
}
.hero ul li:nth-child(2):before{
    content: url("../img/f11.svg");
    display: inline-block;
    padding-right: 6px;
    position: relative;
    top: 5px
}
.hero ul li:nth-child(3):before{
    content: url("../img/100.svg");
    display: inline-block;
    padding-right: 6px;
    position: relative;
    top: 5px
}
.hero ul li:nth-child(4):before{
    content: url("../img/iceland.svg");
    display: inline-block;
    padding-right: 6px;
    position: relative;
    top: 5px
}

 /*what*/
.what{      
    padding: 120px 100px;
    background: #000000;    
}
.what_container{
    max-width: 1200px;
    margin: auto;
}
.what_text h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.what_text h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 42px;
}
.what_img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.what article{
    max-width: 576px;
    position: relative;
}
.what_div{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    display:flex;
    align-content:flex-end;
    flex-wrap: wrap;
    }
.what_article{
    margin-bottom: 16px;
}

.what_img h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.what_img p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 15px;
}
.what_article a{
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 14px;
    padding-right: 10px;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;      
    letter-spacing: 0.4px;    
    color: #000000;
  }

.what_article a:before{
    content: '';
    width: 32px;
    height: 32px;
    display: block;
    background-color: #000000;
    border-radius: 50%;
    margin: 5px 6px 5px 4px;
}


/*past*/
.past{   
    background: #000000;
    border-radius: 0px;
    padding: 100px 0;
    margin: auto;
}
.past_div .past_article{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    
}
.past_article{
    padding: 40px 46px;
    margin: auto;
}
.past_title h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.past_title h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 42px;
}
.past_article img{
    max-width: 128px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.owl-carousel .owl-dots button.owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
     background-color: white;
}
.owl-carousel .owl-dots button.owl-dot.active{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(83, 83, 83);
}
.owl-dots{
    display: flex;
    justify-content: space-evenly;
}
.owl-carousel .owl-item img{
    margin: auto;
    max-width: 200px;
}
/* .past_span span{
    display: inline-flex;
    width: 10px;
    height: 10px;
    background: #FFFFFF;
    border-radius: 50%; 
    margin-right: 10px;   
}
.past_span{
    display: flex;
    justify-content: center;
} */



